{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center mb-3">Questions</h1>
  <div class="container border border-secondary rounded p-3 ">
    {% if latest_question_list %}
      {% for question in latest_question_list %}
        <div class="card mb-3">
          <div class="card-body">
            <p class="lead">{{ question.question_text }}</p>
            <a href="{% url 'polls:detail' question.id %}" class="btn btn-success btn-sm">Vote</a>
            
          </div>
        </div>
      {% endfor %}
      <a href="{% url 'polls:results'  %}" class="btn btn-secondary btn-sm">Results</a>
    {% else %}
      <p>No polls available</p>
    {% endif %}
  </div>
{% endblock %}
